<p id="notice"><%= notice %></p>

<h1 class="bg-primary" >Modulo de Clientes</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rfc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rfc %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Registras màs', new_cliente_path, class: 'btn btn-primary'%>
<br>
<a class="btn btn-default" href="/" role="Clientes">Regresar<a>

